.container-fluid {
  padding:0;
  background-color:#f8f8f8;
  margin-top:15px;
  padding-bottom:5px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.navbar-brand {
  font-family: 'Noto Sans', sans-serif;
  
}

.navbar-transparent {
  padding:0;
}

.elipsis {
  display: none;
}

button.btn.btn-primary.my-2.my-sm-0{
   background-color: #33CC33;   
}



// .search-result{
//   border-bottom: 1px solid gray;
//   border-left: 1px solid gray;
//   border-right: 1px solid gray;
//   width:195px;
//   height: 16px;
//   padding: 5px;
//   background-color: white;
//   cursor: pointer;
// }

.search-result:hover {
  cursor: pointer;
}

.black {
  background-color: rgba(0,0,0,0.95);
}

.black:hover {
  background-color: rgba(255, 255, 255, 0.877);
}

.black:hover div {
  color:black;
}

.white {
  color:white;
}

#cdk-overlay-0 {
  color:red
}

// #search-box{
//   width: 200px;
//   height: 20px;
// }

.navbar-form {
  position:absolute;
  left:30%;
  top:7px;
 }

 input.form-control {
  width: 300px;
}


@media (max-width:360px) {
  a.navbar-brand {
      font-size: 7vw;
  }
}


@media (max-width:770px) {

}


@media (max-width:990px) {
  .hide-search {
    display:none
  }

  .navbar-form {
    position:absolute;
    width:45%;
    top:20px;
    left:auto;
    right:20%;
    margin:auto;
  }

  .btn-just-icon {
    position:absolute;

  }

  input.form-control {
    width: 40vw;
  }


  a.navbar-brand {
      margin-top: -5px;
  }

  .elipsis {
    position:absolute;
    right:0px;
    top:60px;
    display:inline;
  }

  .elipsis:after {
    content: '\2807';
    font-size: 50px;
    z-index:1000;
    position: absolute;
    top: -35px;
    right: 5px;
    }
}

@media (max-width:1030px) {


}

.backdrop {
  display:none;
}

