
<div class="col-lg-3 col-md-3 col-sm-6">
          <div style="background: RGBA(255,255,255,0);" class="card card-product" [routerLink]="['/events',event.id]">  
            <div class="card-image" data-header-animation="false">
                <a>
                    <img class="img" [src]="event?.imageUpload">
                </a>
            </div>
            <div class="card-content">
                <div class="card-actions">

                </div>
                <h4 class="card-title">
                    <a style="color:#3366cc;">{{event?.name | uppercase }}</a>
                </h4>
                <div class="card-description" style="color:#505050;">
                    <div *ngIf="event?.level">
                        |
                        <span *ngIf="event?.level.length!=3">
                            <span *ngFor="let level of event?.level">{{level}} | </span>
                        </span>
                        <span *ngIf="event?.level.length==3">
                            <span>All levels |</span>
                        </span>
                    </div>
                    <div>
                        <strong>{{event?.date | date:'EE d MMM'}} {{event?.time }}</strong>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="price">
                    <h4 style="color:#505050">HKD {{event?.price | currency:"USD":true}}</h4>
                </div>
                <div class="stats pull-right">
                    <p style="color:#505050" class="category"><i class="material-icons">place</i>{{event?.District?.name}}</p>
                </div>
            </div>
        </div>
    </div> 