.modal {
    position: fixed;
    display: hidden;
    z-index: 999;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;   
    overflow: auto; 
    background-color: RGBA(0,0,0,0.5);
}

.modal-form {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 80px;    
}

.district-select{
    width: 300px;
}

.district-option{
    font-size: 14px;
}