<div #changeEventModal class='modal'>
    <div class='modal-form'>
        <div class="card">
            <form #changeEventForm="ngForm" (ngSubmit)="saveEvent(changeEventForm.value)" class="form-horizontal">
                <div class="card-header card-header-text" data-background-color="rose">
                    <h4 class="card-title">Edit Event Details</h4>
                </div>
                <div class="card-content">
                    <div class="row hidden">
                        <label class="col-sm-2 label-on-left">Id</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty ">
                                    <label class="control-label"></label>
                                <input name='id' [ngModel]="event?.id" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <label class="col-sm-2 label-on-left">Event Name</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                <input name='name' [ngModel]="event?.name" type="text" class="form-control" placeholder="name">
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <label class="col-sm-2 label-on-left">Organizer Information</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                <input name='org_description' [ngModel]="event?.org_description" #orgInfo="ngModel" type="text" class="form-control" placeholder="More information about the organizer" required >
                            </div>
                        </div>
                    </div> 
                    <div class="row"> 
                        <label class="col-sm-2 label-on-left">Organizer Website</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                <input name='org_website' [ngModel]="event?.org_website" type="text" class="form-control" placeholder="Organizer Website" >
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <label class="col-sm-2 label-on-left">What should players bring?</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                <input name='sportswear' [ngModel]="event?.sportswear" type="text" class="form-control" placeholder="e.g. Hockey racket, gloves, water" >
                            </div>
                        </div>
                    </div>
                    <div class="row"> 
                        <label class="col-sm-2 label-on-left">Available Spaces</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                <input name='sportswear' [ngModel]="event?.max_ppl" type="text" class="form-control" placeholder="number of spaces available" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Event Image Upload / URL</label>
                        <div class="col-sm-10">
                            <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera" class='btn btn-outline'>
                            <div class='btn btn-primary' (click)="upload()">Upload</div>
                            <!-- <cl-image [public-id]="imageId" [cloud-name]="uploader.cloudName" class="img-container"></cl-image> -->
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input name='imageUpload' *ngIf="this.cloudinaryImage" [ngModel]="this.cloudinaryImage" class="form-control">
                                <input name='imageUpload' *ngIf="!this.cloudinaryImage" [ngModel]="this.event?.imageUpload" class="form-control">
                                <input type="hidden" name='user_id' [ngModel]="event?.user_id">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <label class="col-sm-2 label-on-left">Sport</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                <md-select class="sport-select" [ngModel]="event?.sport_id" name="sport_id" placeholder="Choose Sport" floatPlaceholder="never">
                                    <md-option class="sport-option" *ngFor="let sport of sports" [value]="sport.id">
                                        {{sport.name}}
                                    </md-option>
                                </md-select> 
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Terrain</label>
                        <div class="col-sm-10 checkbox-radios">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="terrain" value="indoor" [ngModel]="event?.terrain"> Indoor
                                </label>
                                </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="terrain" value="outdoor" [ngModel]="event?.terrain"> Outdoor
                                </label>
                            </div>
                        </div>
                        <!-- <md-radio-group class="example-radio-group" [(ngModel)]="event_terrain">
                                <md-radio-button class="example-radio-button" *ngFor="let terrain of terrains" [value]="terrain">
                                  {{terrain}}
                                </md-radio-button>
                        </md-radio-group> -->
                    </div>
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Intensity</label>
                        <div class="col-sm-10 checkbox-radios">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="intensity" value="competitive" [ngModel]="event?.intensity"> Competitive
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="intensity" value="friendly" [ngModel]="event?.intensity"> Friendly
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="intensity" value="casual" [ngModel]="event?.intensity"> Casual
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Level</label>
                        <div class="col-sm-10 checkbox-radios">
                            <div class="checkbox">
                                <label>
                                    <input #level1="ngModel" [ngModel]="beginners" type="checkbox" name="level" value="beginners" (click)="toggleBeginner()"> Beginners
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input #level2="ngModel" ngModel type="checkbox" name="level" value="intermediate" (click)="toggleIntermediate()"> Intermediate
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input #level3="ngModel" ngModel type="checkbox" name="level" value="advanced" (click)="toggleAdvanced()"> Advanced
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 label-on-left">Spaces available</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                <input [ngModel]="randomAvailability" name='availability' type="text" class="form-control" placeholder="e.g: 2/10">
                                <span class="help-block">A block of help text that breaks onto a new line.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Time</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                <input [ngModel]="event?.time" name='time' type="text" class="form-control" placeholder="e.g: 17:00">
                                <span class="help-block">A block of help text that breaks onto a new line.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Date</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                <input [ngModel]="event?.date | date" name='date' type="text" class="form-control datetimepicker" value="10/05/2016" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Address</label>
                        <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                    <input [ngModel]="event?.address" name='address' type="text" class="form-control" placeholder="e.g. Flat C, 100/F, 2-10 Gough Street, Sheung Wan, Hong Kong">
                                    <span class="help-block">A block of help text that breaks onto a new line.</span>
                                </div>
                        </div>
                    </div>
                    <!-- <div class="row"> 
                        <label class="col-sm-2 label-on-left">District</label>
                        <div class="col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <md-select class="district-select" [ngModel]="event?.district_id" name="district_id" placeholder="Choose District" floatPlaceholder="never">
                                        <md-option class="district-option" *ngFor="let dist of districts" [value]="dist.id">
                                            {{dist.name}}
                                        </md-option>
                                    </md-select>                    
                                </div> 
                        </div>
                    </div> -->
                    <div class="row">
                        <label class="col-sm-2 label-on-left">Price</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input  [ngModel]="event?.price" name='price' type="text" class="form-control" placeholder="$" value='$'>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <label class="col-sm-2 label-on-left">Event Information</label>
                        <div class="col-sm-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <textarea  [ngModel]="randomInfo" name='eventInfo' type="text" placeholder="Event Information" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div> -->
                    <button type='submit' class='btn btn-success' style='float: right;'>Submit</button>
                    <button type='button' (click)="closeForm()" class='btn btn-primary' style='float: right;'>Cancel</button>                    
                </div>
            </form>
        </div>
    </div>
</div>

<div style="margin-top:0px" class="main-content">
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="card">
                <div class="text-center card-header card-header-icon" data-background-color="rose">
                    <h1>{{this.event?.date | date:'EEE'| uppercase}}</h1> 
                    <hr>
                    <h3>{{this.event?.date | date:'d MMM'| uppercase}} </h3>
                    <h3 style="display:inline-block; margin:0">{{event?.time}}</h3>                 
                </div>
                <br>
                <div class="card-content text-center">
                    <h2 class="card-title">
                        {{event?.name}}
                        <button style="float:right; margin-top: 5px" class="btn btn-warning" (click)="delete(event)">Delete</button>    
                        <button style="float:right; margin-top: 5px" class="btn btn-primary" (click)="showForm()">Edit</button>                    
                    </h2>
                    <br>
                    <div class='icon col-md-2 col-xs-4'>
                        <img style="width:24px" *ngIf="event?.terrain=='indoor'" src="../assets/img/playground.png">
                        <i *ngIf="event?.terrain=='outdoor'" class="material-icons">terrain</i>
                        <!-- if indoor use the insert_photo material icon -->
                        <p>{{event?.terrain}}</p>
                    </div>
        
                    <div class='icon col-md-2 col-xs-4'>
                        <i class="material-icons">insert_emoticon</i>
                        <p>{{event?.intensity}}</p>
                    </div>
        
                    <div class='icon col-md-2 col-xs-4'>
                        <i class="material-icons">grade</i>
                        <p *ngFor="let level of levels">{{level}}</p>
                    </div> 
        
                    <div class='icon col-md-3 col-xs-4'>
                        <i class="material-icons">face</i>
                        <p>{{event?.max_ppl}} spaces available</p>
                    </div> 
                    <br><br><br><br><br>
                </div>
                <hr>
                <div class='card-content' style='margin:-20px 18px 0px 18px'>
                    <h5 style="display:inline-block; margin: 10px 0 0 40px; font-size: 17px;">{{event?.address}}</h5>
                    <a class="btn btn-rose pull-right"
                    [href]="this.emailHyperlink">             
                    Register</a>
                    <h4 style="float:right; margin:10px 30px 0 0">{{event?.price | currency:'USD':true}} per session</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4"> 
            <div class="card card-profile">
                <div class="card-avatar">
                    <a>
                        <img class="img" [src]="event?.User?.Detail?.image" />
                    </a>
                </div>

                <div *ngIf="event" class="card-content" style='margin-top:0'>
                    <h3 class="card-title">{{event?.User?.Detail?.firstName}} {{event?.User?.Detail?.lastName}}</h3>                        
                    <h6 class="category text-gray">{{this.event.User.Detail.nickname}}</h6>
                    <h4 class="btn btn-rose btn-simple">{{this.event.User.email}} | {{this.event.User.Detail.contact}}</h4>
                    <p class="description">
                        {{event?.User?.Detail?.description}}
                    </p>
                    <!-- <a style="display: block;max-width: 70%;margin: 0 auto;" class="btn btn-rose btn-simple">Contact {{event?.User?.Detail?.firstName}}</a> -->
                </div>
            </div>
        </div>
        
        <div class='container-fluid'>
            <div class="card">
                <div style='height:450px' class="card-header card-header-tabs" data-background-color="rose">
                    <div class='col-md-5'>
                        <div class="card-image" data-header-animation="false">
                            <a>
                                <img class="img" [src]="event?.imageUpload">
                            </a>
                        </div>
                    </div>
                    <div class='col-md-7'>
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#profile" data-toggle="tab">
                                            <i class="material-icons">info_outline</i> Info
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#messages" data-toggle="tab">
                                            <i class="material-icons">supervisor_account</i> Organiser
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#settings" data-toggle="tab">
                                            <i class="material-icons">help_outline</i> About Sport
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="profile">
                                        <h4>General Info:</h4>
                                        <p><span>{{this.event?.description}}</span></p>
                                        <hr>
                                        <h4>What to bring:</h4>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td> 
                                                        <i class="material-icons">check_box</i>
                                                    </td>
                                                    <td>{{this.event?.sportswear}}</td>
                                                </tr>
                                                <!-- <tr>
                                                    <td>
                                                        <i class="material-icons">check_box</i>
                                                    </td>
                                                    <td>Bottle of water and a smile :)</td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="messages">
                                        <h4>Organiser Info:</h4>
                                        <p><span>{{this.event?.org_description}}</span></p>
                                        <hr>
                                        <div *ngIf=this.event?.org_website>
                                            <h4>Website:</h4>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="material-icons">language</i>
                                                        </td>
                                                        <td style="color:blue">{{this.event?.org_website}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="settings">
                                        <h4>How to play:</h4>
                                        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates expedita ipsa voluptatem repellendus dolores dignissimos soluta, maxime accusamus hic quos incidunt error voluptatum doloremque dicta.</span></p>
                                        <hr>
                                        <h4>Rules:</h4>
                                        <ul>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, hic!</li>
                                            <li>Quia excepturi et nam eos cupiditate quae eligendi ab pariatur.</li>
                                            <li>Atque vel soluta expedita iste, ut et quibusdam illo sed.</li>
                                            <li>Velit est vel animi laboriosam cupiditate natus tempora repellat omnis.</li>
                                            <li>Iste id adipisci rem aspernatur soluta cum voluptas vitae, natus.</li>
                                        </ul>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <app-mapping [address]="this.address"></app-mapping>
  </div>

  
  <!-- <button style="float:right;" class="btn btn-rose" (click)="goBack()">Back</button> -->
  