
<div class="main-content">
    <div class="container-fluid">
      <section id='landing-section-top'>
        <div class="hero-image">
            <div class="hero-text">
                <div> 
                    <h1>Find your sporting experience</h1>
                    <h3>Discover and find your sport to participate in today</h3>
                </div>
                <div id="sports-list">
                    <i id="left" class="material-icons" (click)="randomLeft()">chevron_left</i>
                    <button *ngFor="let random of randoms" (click)="sendSport(random.id,random.name)" routerLink="/search" class="btn btn-info">{{random.name}}</button>
                    <i id="right" class="material-icons" (click)="randomRight()">chevron_right</i>
                    <button id="more" class="btn btn-info" (click)="randomRight()">More...</button>            
                </div>
            </div>
        </div>
      </section>

      <section id='landing-section-bottom'>
        <div class="row">
            <div class="col-md-2">
                <form [formGroup]="selectionForm">
                    <mat-form-field>
                            <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Find your event by date" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker opened="true" #picker></mat-datepicker>
                    </mat-form-field>
                    <hr>        
                    <mat-accordion>                   
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Day of the Week
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngFor="let item of days">
                                    <mat-checkbox class="ckeckbox" formControlName="day" (click)="toggleDay(item.num)">
                                        {{item.day}}
                                    </mat-checkbox>
                            </div>                        
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>                   
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Neighborhood
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngFor="let item of districts">
                                    <mat-checkbox class="col-sm-6" formControlName="district" (click)="toggleDistrict(item.id)">
                                        {{item.name}}
                                    </mat-checkbox>
                            </div>                        
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Type of Sport
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let item of terrain">
                                        <mat-checkbox formControlName="terrain" (click)="toggleTerrain(item.terrain)">
                                            {{item.terrain}}
                                        </mat-checkbox>
                                </div>
                            </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Intensity of Play
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let item of intensity">
                                        <mat-checkbox formControlName="intensity" (click)="toggleIntensity(item.intensity)">
                                            {{item.intensity}}
                                        </mat-checkbox>
                                </div>
                            </mat-expansion-panel>
                    </mat-accordion>
                    <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Level of Play
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let item of level">
                                        <mat-checkbox formControlName="level" (click)="toggleLevel(item.level)">
                                            {{item.level}}
                                        </mat-checkbox>
                                </div>
                            </mat-expansion-panel>
                    </mat-accordion>                    
                </form>
            </div>
            <div class="col-md-10">
                    <h3 id="body" style="text-align:center; font-weight:bold; margin-bottom:0px; padding:0px">SPORTING ACTIVITIES</h3>
                    <h3 id="body" style="text-align:center; margin-bottom:20px; margin-top:0px; padding:0px">Upcoming sporting sessions, socials and leagues</h3>
                    <!-- <ngx-carousel [inputs]="carouselOne" (carouselLoad)="carouselTileLoad($event)">
                        
                        <ngx-tile NgxCarouselItem *ngFor="let event of events"  style="width:100%;"> -->
                            <div *ngFor="let event of events">
                                <event-thumbnail [hidden]="!isSelected(event)" [event]="event"></event-thumbnail>
                            </div>
                        <!-- </ngx-tile>
                        
                        <button NgxCarouselPrev class='leftRs'>&lt;</button>
                        <button NgxCarouselNext class='rightRs'>&gt;</button>
                    </ngx-carousel> -->
                <!-- <ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem>
            ....
          </ngx-item>
          <ngx-item NgxCarouselItem>
            ....
          </ngx-item>
          <ngx-item NgxCarouselItem>
            ....
          </ngx-item>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel> -->
            </div>
        </div>
      </section>
    </div>
</div>
