div.main-content {
    margin-top: 0px;
    padding: 30px 0;
  }

div.row.hero {
    margin-left:0px;
    margin-right:0px
}

#landing-section-top{
  height: 30vh;
  margin-bottom: 33vh;
}

#landing-section-bottom{
    margin-top: 25vh;
  }

#more {
    display:none;
}

#left {
    color:white;
    font-size: 40px;
    font-weight:900;
    position:relative;
    top: 10px;
    user-select: none;
    cursor: pointer;
}

#right {
    color:white;
    font-size: 40px;
    font-weight:900;
    top: 10px;
    position:relative;
    user-select: none;
    cursor: pointer;
}


.hero{
    text-align:center;
    width:100vw;
}

#body{
    color:#3366CC;
    font-family: 'Noto Sans', sans-serif;    
}

#search-box{
    margin-left:32%;
    margin-right:32%;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    padding: 0;
    font-size: 20px;
    visibility: hidden;
}

#search-box input::placeholder {
    font-size: 25px;
    color: white;
}

.card-product {
    height: 350px !important;
}

.btn-info {
    padding: 5px 5px;
    margin-top:0px;
    width:16%;
    height:5%; 
    text-transform: none;
    white-space:normal;
}

.hero {
    background: url("/assets/img/pivotalbanner.jpg") 50% no-repeat;
    background-size: cover;
    background-position: left;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;       
    }

.hero-image {
    background-image: url("/assets/img/pivotalbanner.jpg");

    /* Set a specific height */
    height: 200%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;  
}

.hero-text {
    background-color: rgba(48,116,220,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    border-top-right-radius:25px;
    border-top-left-radius: 25px;
    transform: translate(-50%, -50%);
    color: white;
    justify-content: center;
    
}

.hero-text h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
}
.hero-text h3 {
    margin-left:5%;
    margin-right:5%;
    text-align: center;
    font-size: 2vw;
}

#sports-list {
    background-color: rgba(52,199,52,0.6);
    text-align:center;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 5%;
    border-radius:5px;
}

.hero-text button {
    background-color: white;
    color: #34C734;
    font-size: 1em;
    text-align: center;
    overflow:hidden;
}



@media (max-width:1270px) {
    .hero img {
        position: absolute;
        z-index: -5;
        width: auto;
        left: 0%;
        top: 2%;
        max-height: 420px;
    }

    div.text-center {
        margin-top: -21%;
    }
}



@media (max-width:750px) {
    #left {
        display:none;
    }

    #right {
        display:none;
    }

    #more {
        display:inline;
        color: #ffffff;
        background-color: rgba(58, 182, 58, 0.8);

    }

    #more:hover {
        display:inline;
        background-color: rgba(58, 182, 58, 1);
    }

    .container-fluid {
        padding: 0px;
    }

    button.btn.btn-info{
        min-width:105px !important;
        font:3px !important;
        padding: 10px 15px;
    }

    h1{
        font-size: 4rem;
    }
      
}

@media (max-width:650px) {
    h1{
        font-size: 3.5rem;
        width: 90%;   
        margin-left: 2%; 
        margin-top: -40%;
        background-color:rgba(58, 182, 58, 0.61);
        padding: 0px;       
    }

    div.row.hero {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: -40%;
    }

    .btn-info {
        background-color: #ffffff;
        color: #3366CC;
        padding: 10px 20px;
        font:3px !important; 
        min-width: 110px;       
    }
}

@media (max-height:450px) {
    h1{
        font-size: 3.5rem;
        width: 90%;   
        margin-left: 2%; 
        margin-top: -30%;
        background-color:rgba(58, 182, 58, 0.61);
        padding: 0px;       
    }

    div.text-center {
        margin-top: -10%;
        margin-left: 2%;         
    }
}

@media (max-height:360px) {
    #landing-section-top {
        display:none;
    }
}


.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}

mat-checkbox {
    margin: 0px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 0;
    line-height: 15px;
  }