<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <form #newEventForm="ngForm" (ngSubmit)="add(newEventForm.value)" class="form-horizontal">
              <div class="card-header card-header-text" data-background-color="rose">
                  <h4 class="card-title">Create New Event</h4> 
              </div>
              <div class="card-content">
                <div class="row"> 
                    <label class="col-sm-2 label-on-left">Name</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                            <input name='name' ngModel type="text" class="form-control" placeholder="e.g. Football training session...">
                            <span class="help-block">A block of help text that breaks onto a new line.</span>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <label class="col-sm-2 label-on-left">Description</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                            <input name='description' ngModel type="text" class="form-control" placeholder="More details about the event...">
                            <span class="help-block">A block of help text that breaks onto a new line.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Sport</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                            <md-select class="sport-select" ngModel name="sport_id" placeholder="Choose Sport" floatPlaceholder="never">
                                <md-option class="sport-option" *ngFor="let sport of sports" [value]="sport.id">
                                    {{sport.name}}
                                </md-option>
                            </md-select> 
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <label class="col-sm-2 label-on-left">District</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                            <md-select class="district-select" ngModel name="district_id" placeholder="Choose District" floatPlaceholder="never">
                                <md-option class="district-option" *ngFor="let dist of districts" [value]="dist.id">
                                    {{dist.name}}
                                </md-option>
                            </md-select>                    
                        </div> 
                    </div>
                </div> 
                <div style='display:none' class="row" >
                        <!-- style='display:hidden' -->
                    <label class="col-sm-2 label-on-left">User Id</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input name='user_id' type='hidden' ngModel="{{this.user?.id}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Level</label>
                    <div class="col-sm-10 checkbox-radios">
                        <div class="checkbox">
                            <label>
                                <input ngModel type="checkbox" name="level" value="beginners" (click)="toggleBeginner()"> Beginners
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ngModel type="checkbox" name="level" value="intermediate" (click)="toggleIntermediate()"> Intermediate
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ngModel type="checkbox" name="level" value="advanced" (click)="toggleAdvanced()"> Advanced
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Intensity</label>
                    <div class="col-sm-10 checkbox-radios">
                        <div class="radio">
                            <label>
                                <input ngModel type="radio" name="intensity" checked="true" value="competitive"> Competitive
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ngModel type="radio" name="intensity" value="friendly"> Friendly
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ngModel type="radio" name="intensity" value="casual"> Casual
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Terrain</label>
                    <div class="form-group col-sm-10 checkbox-radios">
                        <div class="radio">
                            <label>
                                <input type="radio" name="terrain" value="indoor" ngModel> Indoor
                            </label>
                            </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="terrain" value="outdoor" ngModel> Outdoor
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Price</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label"></label>
                            <input ngModel name='price' type="text" class="form-control" placeholder="$" value='$'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Image Upload</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                            <input name='imageUpload' ngModel type="text" class="form-control" placeholder="Copy and paste url or Select file to upload">
                        </div>
                        <button class='btn btn-info btn-sm'>Select File to Upload</button>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Date</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                            <input style="max-width:250px" ngModel name='date' type="date" class="form-control datetimepicker" value="10/05/2016" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Time</label>
                    <div class="col-sm-10">
                        <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                            <input ngModel name='time' type="text" class="form-control" placeholder="e.g: 17:00">
                            <span class="help-block">A block of help text that breaks onto a new line.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 label-on-left">Address</label>
                    <div class="col-sm-10">
                        <div ngModelGroup="location">
                            <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                <input ngModel name='address' type="text" class="form-control" placeholder="e.g. Flat C, 100/F, 2-10 Gough Street, Sheung Wan, Hong Kong">
                                <span class="help-block">A block of help text that breaks onto a new line.</span>
                            </div>
                        </div>
                    </div>
                </div>

                  


                  <!-- <div class="row">
                      <label class="col-sm-2 label-on-left">Level</label>
                      <div class="col-sm-10 checkbox-radios">
                          <div class="checkbox">
                              <label>
                                  <input ngModel type="checkbox" name="level" value="beginners"> Beginners
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input ngModel type="checkbox" name="level" value="intermediate"> Intermediate
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input ngModel type="checkbox" name="level" value="advanced"> Advanced
                              </label>
                          </div>
                      </div>
                  </div> -->
                  <!-- <div class="row">
                      <label class="col-sm-2 label-on-left">Spaces available</label>
                      <div class="col-sm-10">
                          <div class="form-group label-floating is-empty">
                                  <label class="control-label"></label>
                              <input [ngModel]="randomAvailability" name='availability' type="text" class="form-control" placeholder="e.g: 2/10">
                              <span class="help-block">A block of help text that breaks onto a new line.</span>
                          </div>
                      </div>
                  </div>  -->
                  <!-- <div class="row">
                      <label class="col-sm-2 label-on-left">Event Information</label>
                      <div class="col-sm-10">
                          <div class="form-group label-floating is-empty">
                              <label class="control-label"></label>
                              <textarea  [ngModel]="randomInfo" name='eventInfo' type="text" placeholder="Event Information" class="form-control" rows="4"></textarea>
                          </div>
                      </div>
                  </div> -->
                  <button type='submit' class='btn btn-success' style='float: right;'>Submit</button>
                  <button type='button' (click)="closeForm()" class='btn btn-primary' style='float: right;'>Cancel</button>                    
              </div>
          </form>
      </div>

  </div>
</div>