<div class="main-content">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a>
                                        <img class="img" *ngIf="this.cloudinaryImage" [src]="this.cloudinaryImage" />
                                        <img class="img" *ngIf="!this.cloudinaryImage" [src]="this.userDetail?.image" />
                                    </a>
                                </div>
                                <div class="card-content">
                                    <h6 class="category text-gray">{{this.userDetail?.nickname}}</h6>
                                    <h4 class="card-title">{{this.userDetail?.firstName}} {{this.userDetail?.lastName}}</h4>
                                    <p class="description">
                                        {{this.userDetail?.description}}
                                    </p>
                                    <button *ngIf="this.userDetail?.tier==3" routerLink="/admin/user-approval" class="btn btn-rose">Admin Panel</button>
                                    <button *ngIf="enableButtons" class="btn btn-warning" (click)="gotoUsers()">All Users</button>                                 
                                </div>
                            </div>
                        </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Edit Profile -
                                    <small class="category">Complete your profile</small>
                                </h4>
                                <form #userDetailsForm="ngForm" (ngSubmit)="submit(userDetailsForm.value)">
                                     <div class="row">
                                        <div style='display:hidden'>
                                                    <input name="user_id" type="hidden" class="form-control" [ngModel]="this.id">
                                        </div>
                                        <div class="col-md-3">
                                            <label>First Name:</label>
                                            <div class="form-group label-floating">
                                                <input name="firstName" type="text" class="form-control" [ngModel]="this.userDetail?.firstName">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Last Name:</label>
                                            <div class="form-group label-floating">
                                                <input name="lastName" type="text" class="form-control" [ngModel]="this.userDetail?.lastName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Nickname / Club Role:</label>
                                            <div class="form-group label-floating">
                                                <input name="nickname" type="text" class="form-control" [ngModel]="this.userDetail?.nickname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                          <br>
                                            <label>Image: <span style='color:#e91e64'>(Choose file then press upload)</span></label>
                                            <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">
                                            <button class='btn btn-primary btn-xs' (click)="upload()">Upload</button>
                                            <cl-image [public-id]="imageId" [cloud-name]="uploader.cloudName" class="img"></cl-image>
                                            <div class="form-group">
                                                <input name="image" class="form-control" [ngModel]="this.cloudinaryImage">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Phone number: <span style='color:#e91e64'>(Please provide if you'd like to be contactable by phone)</span></label>
                                                    <div class="form-group label-floating">
                                                        <input name="contact" class="form-control" [ngModel]="this.userDetail?.contact">
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me:</label>
                                                <div class="form-group label-floating">
                                                    <textarea name="description" class="form-control" rows="5" [ngModel]="this.userDetail?.description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Change password? :</label>
                                                <input name="password" type="email" class="form-control" ngModel>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Confirm Password:</label>
                                                <input name="passwordConfirmation" type="passwordConfirmation" class="form-control" ngModel>
                                            </div>
                                        </div>
                                    </div> -->
                                    <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- <h1> Hello! </h1>
        <img class="img" [src]="this.authService.tokenService.currentUserData?.image" />
        <h3>{{this.authService.tokenService.currentUserData?.email}}</h3>
        <h3>{{this.authService.tokenService.currentUserData?.name}}</h3> -->
    </div>
</div>
