
body {
    margin-left:10%;
    margin-right:10%;
    background-color: white;    
}

.main-panel {
    position: relative;
}

.elipsis:after {
    color:red;
    content: '\2807';
    font-size: 50px;
    z-index:1000;
    position: fixed;
    top: 50px;
    right: 5px;
}

nav {
    padding:0;
    background-color:#f8f8f8;
}

footer {
    background-color: #ccc;
  }