
<!--<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="construction">We are working on Pivotal Sport at the moment so that we can bring you the best of sport in Hong Kong. If you want to know more about what we do, find us at alicia@pivotalsport.com. Thank you!</div>
-->

<navbar></navbar>
<br><br>
<div id="mainDIV" class="main-panel" #scrollContainer>
    <router-outlet (activate)="onActivate($event,scrollContainer)"></router-outlet>
<footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <ul>
                        <li>
                            <a routerLink="/"><img id="pivotal-logo" src="../assets/img/logo-black.png" alt=""></a>
                        </li>
                        <li>
                            <a routerLink="/">© Pivotal Sport. Conduit to sports in Hong Kong</a>
                        </li>
                    </ul>
                </div>
                <hr class="hidden-md">
                <div class="col-sm-4" id="footer-containers">
                        <a href="https://www.facebook.com/pivotalsporthk" target="_blank"><img src="../assets/img/facebook.png" height="25px" width="25px" style="background-color:white;"></a>                    
                </div>
                <div class="col-sm-4" id="footer-containers">
                    <ul>
                        <li (click)="openDialog('privacypolicy')" id="links">Privacy Policy</li>
                        <li (click)="openDialog('termsconditions')" id="links">Terms</li>                        
                        <li (click)="openDialog('contactus')" id="links">Contact Us</li>
                        <li (click)="openDialog('aboutus')" id="links">About Us</li>
                    </ul>
                </div>                
            </div>
        </div>
    </footer>
</div> 