
body {
    margin-left:10%;
    margin-right:10%;
    background-color: white;    
}

.main-panel {
    position: relative;
}

.elipsis:after {
    color:red;
    content: '\2807';
    font-size: 50px;
    z-index:1000;
    position: fixed;
    top: 50px;
    right: 5px;
}

nav {
    padding:0;
    background-color:#f8f8f8;
}

footer {
    background-color: rgb(80, 80, 80);
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

li {
    display:block;
    cursor: pointer;
}

h5 {
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
}

hr {
    border-color: #3366CC;
    margin-left: 10%;
    margin-right: 10%;
}

p.email {
    font-style: italic;
}

@media (min-width: 767px){
    
        .hidden-md{
            display: none;
        }
}

div.construction {
    color:#3366CC;
    font-size: 40px;
    font-style: bold;
    text-align: center;
    line-height: 40px;
}