<div mat-dialog-title class="header">
  <h4>Privacy Policy</h4>
</div>

<mat-dialog-content class="container-fluid">
  <!--<div id="title">Vision:</div>
  <div id="main">People connected through sports</div>
  
  <div id="title">Mission:</div>
  <div id="main">We bring people together by making sports accessible to all, and all to be able to find their sport
  </div>
  <div id="title">What is Pivotal Sport:</div>
  <div id="main">Pivotal Sport is a registration and booking platform for sports. It makes sports activities and experiences easily accessible in starting with Hong Kong. Women, girls, men and boys of any level and experience, from new-to-sports to amateur to elite sports enthusiasts who want to try new or different sports, and those who are new-to-cities who are looking for their new community and tribe, are able to use Pivotal Sport to find their next sports event to participate in. Users can easily discover and register to attend sports anywhere in their city, which are offered by sports associations, sports clubs, and individuals and sports academies and as extra-curricular activities for children.
  At the same time, Pivotal Sport allows sports event hosts and organizers with little to no marketing resources and time to attract people to try their sport. Sports hosts and organizers can log in to input information about their sports event such as date, time, location, price, level of play, host’s information and photos of the sport or club and input regular occurrences in one go. Pivotal Sport is more than simply a registration and booking platform for sports event; it is also a centralized information and knowledge platform of sports available in a city, with “how-to-play” information and a blog with stories from existing players of why the sport is fun and interesting.
  </div>
  <div id="title">Goal:</div> 
  <div id="main">The ambition of Pivotal Sport is to become the platform of choice for sports: individual users come to Pivotal Sport to discover their new sporting experience while sports hosts come to Pivotal Sport to seek new users.  
  In the first year, as Pivotal Sport is being established in Hong Kong, operations will focus on Hong Kong: building a network and community of sports hosts, as well as user acquisition to build the user base of Pivotal Sport. We will focus on all sports, regardless of type, location, cost, language, gender and age. In that way we also hope to attract a diversity of users. 
  Entering into the middle of our second year, as we aim to target travellers, we aim to expand to other major Asian cities: Beijing, Shanghai, Singapore, Tokyo, Seoul, Bangkok, Manila and Jakarta first as a way to allow those from Hong Kong to play sports in these cities, but also those from these cities to play sports in HK. Even if our focus is Asia, travellers from other parts of the world can also use Pivotal Sport to join sporting activities. In our view, sports is a cheap and fun way to interact with locals.
  </div>-->
  <div id="centrer">
    <button mat-dialog-close class="btn btn-close"><h4>Close</h4></button>
  </div>
  </mat-dialog-content>