<div *ngIf=fetchId(this.authService.tokenService?.currentUserData)></div>
<body style='background-image: url("../assets/img/football-field.jpg"); height: 100vh; background-size: cover;'>
    
    <div style="position:relative; top: -50px" class="wrapper wrapper-full-page">
        <div class="full-page register-page" filter-color="black" data-image="../assets/img/register.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card card-signup">
                            <h2 class="card-title text-center">Register</h2>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="card-content">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-rose">
                                                <i class="material-icons">timeline</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Try New Sports</h4>
                                                <p class="description">
                                                    Lorem ipsum baby, bacon eggroll mixed with Ng Juice and Ken spinal fluid hamburger
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-primary">
                                                <i class="material-icons">code</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Find New Teams</h4>
                                                <p class="description">
                                                    Lorem ipsum baby, bacon eggroll mixed with Ng Juice and Ken spinal fluid hamburger
                                                </p>
                                            </div>
                                        </div>
                                        <div class="info info-horizontal">
                                            <div class="icon icon-info">
                                                <i class="material-icons">group</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Join The Community</h4>
                                                <p class="description">
                                                    Lorem ipsum baby, bacon eggroll mixed with Ng Juice and Ken spinal fluid hamburger
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <!-- <div class="social text-center">
                                        <button class="btn btn-just-icon btn-round btn-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-dribbble">
                                            <i class="fa fa-dribbble"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-facebook">
                                            <i class="fa fa-facebook"> </i>
                                        </button>
                                        <h4> or be classical </h4>
                                    </div> -->
                                    <form class="form" #signupForm="ngForm" (ngSubmit)="submit(signupForm.value)">
                                        <div class="card-content">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">perm_identity</i>
                                                </span>
                                                <input type="text" name='firstName' ngModel class="form-control" placeholder="First Name...">
                                                <input type="text" name='lastName' ngModel class="form-control" placeholder="Last Name...">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <input type="email" name='email' (ngModel)='signupForm.email' class="form-control" placeholder="Email...">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <input type="password" name='password' (ngModel)='signupForm.password' placeholder="Password..." class="form-control" />
                                            </div>                                              
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">lock_outline</i>
                                                </span>
                                                <input type="password" name='passwordConfirmation' (ngModel)='signupForm.passwordConfirmation' placeholder="Password Confirmation..." class="form-control" />
                                            </div>                                              
                                            <!-- If you want to add a checkbox to this form, uncomment this code -->
                                            <!-- <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes" checked> I agree to the
                                                    <a href="#something">terms and conditions</a>.
                                                </label>
                                            </div> -->
                                        </div>
                                        <div class="footer text-center">
                                            <button class="btn btn-primary btn-round" type="submit">Get Started</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>

</body>
