<body style='background-image: url("../assets/img/football-field.jpg"); height: 100vh; background-size: cover; margin-top: 20px;'>

    <div class="container">

      <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
              <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.value)">
                  <div class="card card-login card-hidden">
                      <div class="card-header text-center" data-background-color="rose">
                          <h4 class="card-title">Login</h4>
                          <!-- <div class="social-line">
                              <a href="#btn" class="btn btn-just-icon btn-simple">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a href="" class="btn btn-just-icon btn-simple">
                                  <i class="fa fa-twitter"></i>
                              </a>
                              <a href="#eugen" class="btn btn-just-icon btn-simple">
                                  <i class="fa fa-google-plus"></i>
                              </a>
                          </div> -->
                      </div>
                      <br>
                      <div class="card-content">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">email</i>
                              </span>
                              <div class="form-group label-floating">
                                  <label class="control-label">Username or Email</label>
                                  <input type="text" name='username' (ngModel)='loginForm.username' class="form-control" autocomplete="off">
                              </div>
                          </div>
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="material-icons">lock_outline</i>
                              </span>
                              <div class="form-group label-floating">
                                  <label class="control-label">Password</label>
                                  <input type="password" name='password' (ngModel)='loginForm.password' class="form-control">
                              </div>
                              <p style='color:red'><strong>{{err}}</strong></p>
                          </div>
                      </div>
                      <div class="footer text-center">
                          <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg" style="color:#33cc33">Let's go!</button>
                          <p style='font-size:19px;color:cornflowerblue; margin-top: 20px'>Don't have an account? Sign up <span style="color:blue; text-decoration: underline; cursor:pointer"  routerLink="/signup">here</span></p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>

</body>
